*{
	margin: 0px;
	padding: 0px;
}

body{
	font-family: 'Source Sans Pro', sans-serif;
}

.main{
	max-width: 900px;
	width: 80%;
	margin: 20px auto;
	border: 20px solid #bdc3c7;
	padding: 20px;
}

.post{
	border-bottom: 2px solid #bdc3c7;
	padding: 10px 0px;
}
p{
	margin: 5px;
	padding: 5px;
	font-size: 20px;
}

h3{
	font-size: 2rem;
}

.date{
	color: blue;
	font-size: 1rem;
}
.Intro{
	border-left: 5px solid #bdc3c7;
}


